<!DOCTYPE html>
<html>
<head>
    <center>
        <table border="1" width="700">
                    <tr>
                <td colspan="2" bgcolor="lightblue" align="center">Educationnal Background</td><td align="center" bgcolor="lightblue" >Year Awarded</td align="center">2019</td>
                    </tr>
                    <tr>
                <td rowspan="2" align="center" width="200" >Bachelor Of Science</td><td align="center" >South China Normal University</td><td align="center">2019</td>
                    </tr>
                    <tr>
               <td td colspan="2" bgcolor="lightblue" align="center">School-level Advanced Individuals</td>
                   </tr>
                   <tr>
                    <td rowspan="2" align="center" width="200" >Job Expercinernce</td><td align="center" >Novelle  Academic Of ShenZhen</td><td align="center">2019-2023</td>
                 </tr>
                 <tr>
            <td td colspan="2" bgcolor="lightblue" align="center">Outstanding Teacher Honors</td>
                </tr>
                   <tr>
                   <td rowspan="2" align="center" width="200" >Master Of Education</td><td align="center" >Hong Kong University</td><td align="center">2024</td>
                </tr>
                <tr>
           <td td colspan="2" bgcolor="lightblue" align="center">"The brave enjoy the world first" honors</td>
               </tr>
                    <tr>
                 <td colspan="3" align="center">More Information</td>
                    </tr>
                    <tr>
                <td colspan="3" align="center"><img src="/static/1.jpg" width="700"> </td>
                   </tr>
        </table>    
    </center>
  
   
</body>
</html>
